body {
    background: linear-gradient(135deg, #ff7a18, #0f2027);
    font-family: sans-serif;
}

.carousel-item img {
    max-height: 300px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: orange;
    border-radius: 50%;
}

/* بهتر شدن فرم در موبایل */
form {
    max-width: 600px;
    margin: auto;
}



.skill-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.4s ease;
    backdrop-filter: blur(8px);
}

.skill-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 0 25px rgba(255, 179, 71, 0.4);
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}